.btn-icon {
  margin-top: 28px;
  width: 174px;
  height: 48px;
}
.div-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 21px;
  width: 100%;
  max-width: 480px;
  height: 123px;
  background-color: #c8c8c8;
  border-radius: 10px;
  align-items: center;
}

.div-btn p {
  padding-top: 5px;
  width: 200px;
  height: 21px;
  font-size: 18px;
  color: #585858;
}

@media (min-width: 576px) {
  .div-btn {
    flex-direction: row;
    max-width: 600px;
  }

  .div-btn p {
    padding-top: 51px;
    padding-bottom: 51px;
  }

  .btn-icon {
    width: 174px;
    margin-top: 15px;
    margin-left: 85px;
    margin-right: 10px;
  }
}

@media (min-width: 1200px) {
  .div-btn {
    flex-direction: row;
    max-width: 100%;
  }
}